<a href="https://colab.research.google.com/github/upen1530/Assignment1_ur0072.ipynb/blob/main/Assignment_2_ur0072.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Fruits list
fruits = ["apple", "banana", "orange"]
print("Full list:", fruits)
print("Each item separately:")
for fruit in fruits:
    print(fruit)

Full list: ['apple', 'banana', 'orange']
Each item separately:
apple
banana
orange

In [2]:
# 2. Names list
names = ["Ali", "Sara", "Mehdi", "Reza"]
names[0] = "Omar"   # Change the first name
print("Updated names list:", names)

Updated names list: ['Omar', 'Sara', 'Mehdi', 'Reza']

In [3]:
# 3. Vehicles list
vehicles = ["car", "bus", "bike", "truck", "scooter"]
vehicles.append("train")
print("Vehicles list with new item:", vehicles)

Vehicles list with new item: ['car', 'bus', 'bike', 'truck', 'scooter', 'train']

In [4]:
# 4. Foods list
foods = ["pizza", "burger", "pasta", "rice", "salad", "sandwich"]
foods.remove("pasta")
print("Foods list after removal:", foods)

Foods list after removal: ['pizza', 'burger', 'rice', 'salad', 'sandwich']

In [5]:
# 5. Cities list
cities = ["Paris", "London", "Tokyo", "New York"]
cities.sort()
print("Sorted cities:", cities)
cities.reverse()
print("Reversed cities:", cities)

Sorted cities: ['London', 'New York', 'Paris', 'Tokyo']
Reversed cities: ['Tokyo', 'Paris', 'New York', 'London']

In [6]:
# 6. Animals list
animals = ["cat", "dog", "lion"]
print("Animals:")
for animal in animals:
    print(animal)

Animals:
cat
dog
lion

In [7]:
# 7. Numbers list multiplied by 2
numbers = [1, 2, 3, 4, 5]
print("Numbers multiplied by 2:")
for num in numbers:
    print(num * 2)

Numbers multiplied by 2:
2
4
6
8
10

In [8]:
# 8. Friends list
friends = ["Alice", "Bob", "Charlie", "David", "Eve", "Frank"]
print("First three friends:", friends[:3])
print("Last three friends:", friends[-3:])

First three friends: ['Alice', 'Bob', 'Charlie']
Last three friends: ['David', 'Eve', 'Frank']

In [9]:
# 9. Range list 1 to 10
range_list = list(range(1, 11))
print("List of numbers 1 to 10:", range_list)

List of numbers 1 to 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
# 10. Squares using list comprehension
squares = [x**2 for x in range(1, 6)]
print("Squares from 1 to 5:", squares)

Squares from 1 to 5: [1, 4, 9, 16, 25]